<!doctype html>
<title>Matches played:</title>

<form method="GET" action="/matches_played">
    <button type="submit">Home</button>
</form>

<form method="POST" action="/player">
    <input type="hidden" name="team_name" value="{{ matches_played[0].team_name }}">
    <button type="submit">Players</button>
</form>

<table>
    <tr>
        <th>Matches</th>
        <th>Round</th>
        <th>Opponent</th>
        <th>Result</th>
    </tr>
    {% for match in matches_played %}
        <tr>
            <td>{{ match.round }}</td>
            <td>{{ match.opponent }}</td>
            <td>{{ match.result }}</td>
        </tr>
    {% endfor %}
</table>
