<!doctype html>
<title>Players:</title>

<form method="GET" action="/team">
    <button type="submit">Home</button>
</form>

<form method="POST" action="/matches_played">
    <input type="hidden" name="team_name" value="{{ players[0].team_name }}">
    <button type="submit">Matches</button>
</form>

<table>
    <tr>
        <th>Player Names</th>
        <th>Nationality</th>
        <th>POSITION</th>
        <th>Matches</th>
        <th>Starts</th>
        <th>90s</th>
        <th>Minutes</th>
        <th>Goals</th>
        <th>Asists</th>
        <th>Goals and Assists</th>
    {% for player in players %}
        <tr>
            <td>{{ player.player_name }}</td>
            <td>{{ player.nation }}</td>
            <td>{{ player.pos }}</td>
            <td>{{ player.mp }}</td>
            <td>{{ player.starts }}</td>
            <td>{{ player.nineties }}</td>
            <td>{{ player.min }}</td>
            <td>{{ player.gls }}</td>
            <td>{{ player.ast }}</td>
            <td>{{ player.g_a }}</td>
        </tr>
    {% endfor %}
</table>