<!doctype html>
<title>Teams:</title>

<form method="POST" action="/team">
    <input type="text" name="search" placeholder="Search for a team" class="form-input">
    <input type="submit" value="Search" class="btn">
</form>

<table>
    <tr>
        <th>TEAMS</th>
        <th>Games Played</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Draws</th>
        <th>Points</th>
    </tr>
    {% for team in teams %}
        <tr>
            <td> 
                <form method="POST" action="/player">
                    <input type="hidden" name="team_name" value="{{ team.team_name }}">
                    <button type="submit">{{ team.team_name }}</button>
                </form>
            </td>
            <td>38</td>
            <td>{{ team.wins }}</td>
            <td>{{ team.losses }}</td>
            <td>{{ team.draws }}</td>
            <td>{{ team.points }}</td>
        </tr>
    {% endfor %}
</table>
